{
  "ConnectionStrings": {
    "DefaultConnection": "Host=ВАШ_ХОСТ;Database=self_careDB;Username=ВАШ_ПОЛЬЗОВАТЕЛЬ;Password=ВАШ_ПАРОЛЬ;SSL Mode=Require"
  },
  "Jwt": {
    "Key": "ВАШ_СЕКРЕТНЫЙ_КЛЮЧ_МИНИМУМ_32_СИМВОЛА_ДЛЯ_БЕЗОПАСНОСТИ_И_БЕЗОПАСНОСТИ",
    "Issuer": "Self_care",
    "Audience": "SelfCare.Front"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Warning",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*"
}

